<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Fascinat0r, Nanatic">
    <title>Sign In | BAZA</title>

    <link rel="canonical" href="">


    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/signin.css" rel="stylesheet">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="/static/fonts/font/bootstrap-icons.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- Favicons -->
    <!--<link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png" sizes="180x180">-->
    <!--<link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">-->
    <!--<link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">-->
    <!--<link rel="manifest" href="/img/favicons/manifest.json">-->
    <!--<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#7952b3">-->
    <link rel="gazprom-neft-logo-rus" href="/static/img/favicons/gazprom-neft-logo-rus.svg">
    <meta name="theme-color" content="#7952b3">

    <!-- Custom styles for this template -->
</head>
<body class="text-center">

<header>
    <!-- Фиксированная навигационная панель -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top container" aria-label="Navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/sign-in">BAZA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item align-self-center">
                        <a class="nav-link active" aria-current="page" href="https://www.gazprom-neft.ru/">
                            <img src="/static/img/favicons/gazprom-neft-logo-rus.svg" alt="" height="55"
                                 class=" d-inline-block mb-2 align-text-top">
                        </a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link active" aria-current="page">Материалы</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="#">Производители</a>
                    </li>
                    <!--<li class="nav-item"........ <!-->
                </ul>
                <form class="d-flex me-4">
                    <input class="form-control me-1 dark-form" style="box-shadow:none;" type="search"
                           placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-primary dark-form bright-btn" style="box-shadow:none;" type="submit">
                        <i class="bi-search" aria-hidden="true"></i></button>
                </form>
                <button type="button" class="btn btn-primary bright-btn" style="height:36px;" id="btn-signup" href="auth" disabled
                        role="button"><p>Регистрация</p></button>
            </div>
        </div>
    </nav>
</header>

<!--Singin form-->
<div class="container-fluid flex" id="parallax">
    <div class="row justify-content-center" style="margin-top: 200px;"> <!--ИСПРАВИТЬ!!!-->
        <div class="col-sm">
            <main class="form-signin">
                <img class="mb-4" src="/static/img/favicons/user_icon.svg" alt="User icon" width="50%">
                <form action="" method="post" id="user-form" class="needs-validation">
                    <!--put action and method-->
                    <div class="form-floating mb-4">
                        <input type="email" class="form-control dark-form" id="floatingInput"
                               placeholder="name@example.com" required>
                        <label for="floatingInput" class="dark-field-text">Почта</label>
                        <div class="invalid-feedback">
                            Введите почту в формате name@example.com
                        </div>
                    </div>
                    <div class="input-group has-validation mb-3 flex-nowrap">
                        <div class="form-floating flex-fill">
                            <input type="password" class="form-control dark-form mb-0" id="password"
                                   placeholder="Password" required>
                            <label for="password" class="dark-field-text">Пароль</label>
                        </div>
                        <button class="btn btn-outline-secondary dark-form border-left-0" type="button"
                                id="togglePassword">
                            <i class="bi-eye dark-field-text" id="show_eye"></i>
                        </button>
                    </div>
                    <div class="checkbox mb-4">
                        <label>
                            <input id="checkbox1" type="checkbox" value="remember-me" class="dark-checkbox">
                            <label class="form-check-label dark-field-text" for="checkbox1">Запомнить меня</label>
                        </label>
                    </div>
                </form>
                <div class="alert alert-danger" id="alert-box" hidden></div>
                <button type="submit" class="btn btn-primary btn-lg entr-btn bright-btn" id="btn-signin"
                        role="button" style="height:4rem;"><p class="btn-text" style="font-size:1.55rem;">Вход</p>
                </button>
                <p class="mt-3 mb-3 text-muted dark-field-text" style="font-size: 13px;">Защита от спама reCAPTCHA
                    <a href="https://policies.google.com/privacy">Конфиденциальность</a> и
                    <a href="https://policies.google.com/terms">Условия использования</a></p>
            </main>
        </div>
    </div>
</div>
<script src="/static/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/parallax.js"></script>
<script src="/static/js/eye.js"></script>
<script src="/static/js/validate-forms.js"></script>
<script src="/static/js/fetch_signin.js"></script>
</body>
</html>
