/* Inter REgular */
@font-face {
	font-family: 'Inter'; 
	src: url(/assets/fonts/Inter-Regular.otf); 
}
 
/* Жирный */
@font-face {
	font-family: 'Inter bold'; 
	src: url(/assets/fonts/Inter-Bold.otf); 
}

:root {
  /* Colors */
  --dark-gray: rgba(45,45,56,0.75);
  --dark-slate-gray: rgba(45, 45, 56, 1);
  --dark-slate-gray-highlighted: rgba(39, 39, 48, 1);
  --dim-gray: rgba(101, 101, 116, 1);
  --steel-blue: rgba(26, 127, 195, 1);
  --steel-blue-highlighted: rgba(43,153,227,1);
  --transparent-black: rgba(0, 0, 0, 0.25);
  --transparent-black-highlighted: rgba(0, 0, 0, 0.1);
  --transparent-white: rgba(255, 255, 255, 0.5);
  --white: rgba(255, 255, 255, 1);

  /* Typographies */
  --default-font-regular: "Inter";

}
html,
body {
  height: 100%;
}

body {
  background: linear-gradient(13deg,#6e2634, #2a5074);


  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
/*background*/
.background-element1 {
  background-image: url('/assets/img/background/bg1.png');
  width: 1rem;
}

.background-element2 {
  background-image: url('/assets/img/background/bg2.png');

}

.background-element3 {
  background-image: url('/assets/img/background/bg3.png');

}

.background-element4 {
  background-image: url('/assets/img/background/bg2.png');

}
.background-element5 {
  background-image: url('/assets/img/background/bg5.png');

}
.background-element6 {
  background-image: url('/assets/img/background/bg6.png');

}

/*header*/
.navbar-dark{
  background-color: var(--dark-gray);
  height: 100px;
  box-shadow: 0 4px 4px 0 var(--transparent-black);
  max-width: 100rem;
  border-radius: 0 0 30px 30px;
  /*padding: 0 30px 0 30px;*/
}

.header-button{
  background-color: var(--steel-blue);
  border-radius: 43px;
}

/*form*/
.form-signin {
  width: 100%;
  width: 330px;
  padding: 15px;
  margin: auto;
  align-items: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[id="password"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.entr-btn {
  width: fit-content;
  padding: 12px 64px;
  box-shadow: 0 4px 4px 0 var(--transparent-black);
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.bright-btn{
  border: 0;
  border-radius: 43px;
  background-color: var(--steel-blue);
}
.bright-btn:hover{
  box-shadow:  0 4px 8px 0 var(--transparent-black);
  background-color: var(--steel-blue-highlighted);
}
.bright-btn:active{
  box-shadow: 0 0 0 0;
  box-shadow: var(--transparent-white);
}

.btn-text {
  color: var(--white);
  font-family: var(--default-font-regular);
}

.dark-field-text{
  color: var(--transparent-white);
  align-self: stretch;
  font-family: var(--inter-25-regular-family);
}
.light-field-text{
  color: var(--transparent-black);
  align-self: stretch;
  font-family: var(--inter-25-regular-family);
}

.dark-form{
  border: 0;
  border-radius: 13px;
  background-color: var(--dark-slate-gray);
  box-shadow: 4px 4px 4px 0 var(--transparent-black);
  font-family: var(--default-font-regular);
  color: var(--white);

}

.dark-form:focus{
  background-color: var(--dark-slate-gray);
  color:var(--white);
}
.form-control{
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
}